.button {
    padding: 0.5em 1em;
    border-radius: var(--border-radius);
    background-color: var(--primary-color);
    color: var(--dark-primary-text-color);
    color: inherit;
    font-size: calc(var(--element-size) * 0.875);
    font-weight: 600;
    text-decoration: initial;
    transition: box-shadow 0.25s, filter 0.25s;
  
    &:hover {
      box-shadow: 0 0 calc(var(--element-size) * 0.5) 0 var(--primary-color);
      filter: brightness(1.25);
    }
  }